<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>A use case incluing [file name].storyboard, [file name]ViewController.swift, [file name]Interactor.swift files.</string>
	<key>Summary</key>
	<string>A template use case using Dirty design pattern.</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
		<string>com.apple.platform.appletvos</string>
	</array>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the Use Case to create files uppon.</string>
			<key>Identifier</key>
			<string>usecaseName</string>
			<key>DefaultCompletionName</key>
			<string>Dirty</string>
			<key>Name</key>
			<string>Use case name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_usecaseName:identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
</dict>
</plist>
